html>
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Sign In in Chrome Extensions Example</title>

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="main.css">

  <!-- ***************************************************************************************
       * TODO(DEVELOPER): Make sure you are importing the latest version of the Firebase JS. *
       *************************************************************************************** -->
  <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
  <script src="credentials.js"></script>
  <script src="progressbar.js"></script>
</head>
<body>

  <div id="left"></div>
  <div id="right"></div>
  <div id="top"></div>
  <div id="bottom"></div>

  <h3>Altnews Detector</h3>

  <div id="container"></div>

  <div class="app-info" id="app-info">
  <p>
  new page
  </p>
  </div>


  <div class="quickstart-user-details-container">
    <button class="loginBtn loginBtn--google" id="quickstart-button">Sign-in with Google</button>
  </div>


</body>
</html>